* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.page-container {
  padding: 1.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  background-color: #0a192f;
}

.title {
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
